{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<!--four div start-->
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{.Title}}</h1>
        {{ partial "call.html" (dict "site" .Site "context" . "show_button" "true") }}
        <div class="content mt-4">{{.Content}}</div>

<!--fancy start-->
<div class="call"><div class="call-box-top">
<style>
.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 20px;
  outline-color: #F76C5E;
  width: 100%;
}
</style>
<form id="contact-form" class="post-new-comment" method="POST" action="https://formspree.io/f/mrbglwoq">
	<input type="hidden" name="_next" value="{{ .Permalink }}" />
	<input type="hidden" name="_subject" value="Email from {{ .Site.BaseURL }}" />
	<input type="hidden" name="_format" value="plain" />
	<input type="hidden" name="_language" value="en" />
	<input type="text" name="_gotcha" style="display:none" />
	<h5><strong>Name&nbsp;</strong>(required)</h5>
	<input id="contact-name" type="text" style="width: 300px;" class="post-comment-field" placeholder="Your name"><br />
	<h5><strong>Email&nbsp;</strong>(required)</h5>
	<input id="contact-email" type="email" style="width: 300px;" class="post-comment-field" placeholder="Your email address"><br />
	<h5><strong>Company&nbsp;</strong>(optional)</h5>
	<input id="contact-company" type="text" style="width: 300px;" class="post-comment-field" placeholder="Your company"><br />
	<h5><strong>Comments&nbsp;</strong>(required)</h5>
	<textarea id="contact-message" style="width: 450px; height: 200px;" class="post-comment-field" placeholder="Please enter your message here..." rows="10"></textarea><br />
	{{/*
	<input id="encrypted-contact-name" type="hidden" name="encrypted-name" value="en" />
	<input id="encrypted-contact-email" type="hidden" name="encrypted-email" value="en" />
	<input id="encrypted-contact-company" type="hidden" name="encrypted-company" value="en" />
	<input id="encrypted-contact-message" type="hidden" name="encrypted-message" value="en" />
	*/}}
	<input id="encrypted-contact-body" type="hidden" name="encrypted" value="en" />
	<!--<input id="contact-button" type="button" style="width:25%" class="button post-comment-field btn btn-primary btn-xs" value="Send">-->
	<a id="contact-button" class="button">Send</a>
</form>
<!--<a id="pgp-key" />-->

</div></div>
<!--fancy end-->

      </div>
    </div>
  </div>
</div>
<!--four div end-->

<script src="/js/jquery-1.11.3.min.js"></script>

<!-- from: https://keybase.io/kbpgp_public/releases/kbpgp-2.0.8-signed-release.zip -->
<!-- from: https://github.com/keybase/kbpgp/blob/master/rel/kbpgp-2.1.0-min.js -->
<!--<script src="/js/kbpgp/kbpgp-2.1.0-min.js"></script>-->
<!--<script src="/js/kbpgp/kbpgp-2.1.0.js"></script>-->
<script src="/js/kbpgp/kbpgp-2.1.0-modified.js"></script>
<!-- from: https://raw.githubusercontent.com/caolan/async/master/dist/async.min.js -->
<script src="/js/async.min.js"></script>
<script>
var pub_pgp_key = "{{ readFile .Site.Params.publickeyfile }}";

$('#contact-button').click(function() {
	kbpgp.KeyManager.import_from_armored_pgp(
		{
			armored: pub_pgp_key
		},
		function(err, user) {
			if (err) {
				console.log("could not load public key, message not sent");
				console.log("error: ", err);
				window.alert("could not load public key, message not sent");
				return
			}
			console.log("loaded public key!");
			process(user); // run all of the encryptions...
		}
	);
	return false; // cancel form submit
});

function process(user) {
	async.series(
		[
			{{/*
			// FIXME: https://github.com/keybase/kbpgp/issues/165
			function(done) {
				var msg = $('#contact-name').val();
				encrypt(done, user, msg, '#encrypted-contact-name')
			},
			function(done) {
				var msg = $('#contact-email').val();
				encrypt(done, user, msg, '#encrypted-contact-email')
			},
			function(done) {
				var msg = $('#contact-company').val();
				encrypt(done, user, msg, '#encrypted-contact-company')
			},
			function(done) {
				var msg = $('#contact-message').val();
				encrypt(done, user, msg, '#encrypted-contact-message')
			}
			*/}}
			function(done) {
				// combine strings into a single message for encrypting
				var message = ""
				message += "name: " + $('#contact-name').val() + "\n";
				message += "email: " + $('#contact-email').val() + "\n";
				message += "company: " + $('#contact-company').val() + "\n";
				message += "message:" + "\n" + $('#contact-message').val() + "\n";
				encrypt(done, user, message, '#encrypted-contact-body')
			}
		],
		// the callback runs when every function above is done
		function(err, results) {
			// `results` contains a collection of what
			// you've passed to the `done` callbacks above
			if (err) {
				window.alert("could not encrypt, message not sent");
				return
			}
			$('#contact-form').submit(); // submit it!
		}
	);
}

function encrypt(done, user, message, outputid) {
	//console.log("message is: "+ message);
	var params = {
		msg: message,
		encrypt_for: user
	};
	// result comes in a callback
	kbpgp.box(params, function(err, result_string, result_buffer) {
		//console.log("field is encrypting...");
		console.log(err, result_string, result_buffer);
		$(outputid).val(result_string);
		done(err, outputid); // pass some value back
	});
}
</script>
{{ end }}
