{{/* This overrides the theme file in themes/layouts/partials/main-menu.html */}}
<style>
li.active {
	border-radius: 3px;
	color: #ffffff;
	background-color: {{ .Site.Params.colors.primary }};
	font-weight: bold;
}
li.active span {
	color: #ffffff;
}
</style>
<div id="main-menu" class="main-menu">
	<ul>
		{{- $currentPage := . }}
		{{- range .Site.Menus.main }}
		<li class="menu-item-{{ .Name | lower }}{{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active{{ end }}">
			<a href="{{.URL}}">{{ .Pre }}<span>{{ .Name }}</span></a>
		</li>
		{{end}}
	</ul>
</div>
