<style>
	.header {
		margin-left: 20px;
		color: black;
	}

	.flex-container {
		display: flex;
		gap: 30px;
	}

	/* index column */
	.container-left {
		flex: 1.1;
		max-width: fit-content;
		margin-left: 3%;
	}

	.container-right {
		flex: 4;
		margin-right: 15%;
	}

	/* Media Query for Mobile Devices */
	@media (max-width: 768px) {
		.flex-container {
			flex-direction: column; /* stack the containers vertically on smaller screens */
			gap: 10px; /* adjust the space between the stacked containers */
	}

		.container-right {
			width: 92%; /* make containers take up almost the full width on mobile */
			margin-left: 4%;
		}
	}

	.description {
		margin-top: 0; /* remove top margin */
		margin-bottom: 0; /* remove bottom margin */
	}

	.box {
		border: 2px solid #000; /* adds a solid black border */
		padding: 20px; /* adds space inside the box */
		background-color: #f9f9f9; /* light grey background colour */
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* adds shadow around the box */
		border-radius: 8px; /* rounds the corners */
		margin: 20px auto; /* centres the box on the page */
	}
</style>
