<div class="sub-footer" style="background: {{ .Site.Params.subfooter_background_colour }};">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul style="list-style-type: none;">
{{ if .Site.Data.contact.phone }}
            <li><strong>Phone: </strong><span>{{ .Site.Data.contact.phone }}</span></li>
{{ end }}
            <li><strong>Email: </strong><a style="color: {{ .Site.Params.subfooter_text_colour }};" href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
          </ul>
	  <a style="color: {{ .Site.Params.subfooter_text_colour }};" class="zerostatic" href="{{ .Site.BaseURL }}">{{ .Site.Params.shortURL }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
